<div class="main-sidebar">
  <a
    href=""
    class="navbar-brand text-white d-block mx-auto text-center py-3 mb-3 border-bottom"
    >CodeAndCreate</a
  >
  <div class="border-bottom pb-3">
    <img
      src="../../../assets/images/user-logo.png"
      width="50"
      class="rounded-circle mr-3"
    />
    <a href="#" class="text-white">User Name</a>
  </div>

  <ul class="navbar-nav flex-column mt-3">
    <li class="nav-item sidebar-link">
      <a href="#" class="nav-link text-white p-3 mr-3"
        ><i class="fa  fa-home fa-lg mr-3"></i>Dashboard</a
      >
    </li>

    <li class="nav-item sidebar-link">
      <a href="#" class="nav-link text-white p-3 mr-3"
        ><i class="fa  fa-envelope fa-lg mr-3"></i>Inbox</a
      >
    </li>
    <li class="nav-item sidebar-link">
      <a href="#" class="nav-link text-white p-3 mr-3"
        ><i class="fa  fa-shopping-cart fa-lg mr-3"></i>Sales</a
      >
    </li>
    <li class="nav-item sidebar-link">
      <a href="#" class="nav-link text-white p-3 mr-3"
        ><i class="fa fa-line-chart fa-lg mr-3"></i>Analytics</a
      >
    </li>
    <li class="nav-item sidebar-link">
      <a href="#" class="nav-link text-white p-3 mr-3"
        ><i class="fa  fa-bar-chart fa-lg mr-3"></i>Charts</a
      >
    </li>
    <li class="nav-item sidebar-link">
      <a href="#" class="nav-link text-white p-3 mr-3"
        ><i class="fa  fa-table fa-lg mr-3"></i>Tables</a
      >
    </li>
    <li class="nav-item sidebar-link">
      <a href="#" class="nav-link text-white p-3 mr-3"
        ><i class="fa  fa-wrench fa-lg mr-3"></i>Setting</a
      >
    </li>
    <li class="nav-item sidebar-link">
      <a href="#" class="nav-link text-white p-3 mr-3"
        ><i class="fa  fa-file-alt fa-lg mr-3"></i>Documentation</a
      >
    </li>
  </ul>
</div>
